{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}

    {% from "govuk/components/table/macro.njk" import govukTable %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-6">Tell us about other agencies that are
      involved with the child
    </h1>
    <p class="govuk-body">Please tell us about the key professionals and agencies that are currently or have recently
      worked with this
      family. We have a statutory duty to find this out so if you have this information please include it</p>

    <h2 class="govuk-heading-l">About the child's GP</h2>

    {{ govukInput({
      label: {
        text: "Name of the child's GP"
      },
      id: "GPName",
      name: "GPName"
    }) }}

    {{ govukInput({
      label: {
        text: "Contact number or address"
      },
      id: "contact-adress",
      name: "contact-adress"
    }) }}

    <h2 class="govuk-heading-l">Other agencies</h2>

    {{ govukButton({
      text: "add agency",
      href: "assessment_history_additional",
      isStartButton: false
    }) }}

    {{ govukButton({
  text: "Continue",
  href: "risks_at_home",
  isStartButton: false
}) }}

  </div>
</div>

{% endblock %}