<div class="govuk-accordion" data-module="accordion" id="accordion-default">
  <div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-1">Bath heritage</span></h2>
  </div>
  
  <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content" id="accordion-default-content-1">
    <ul class="govuk-list govuk-list--bullet"><li><a href="http://new-banes-website-dev/sites/default/files/2019-10/Archaeology%20in%20the%20City%20of%20Bath.pdf">Archaeology in Bath</a></li>
      <li><a href="/policy-and-documents-library/archaeology-bath-and-north-east-somerset">Archaeology in Bath and North East Somerset</a></li>
      <li><a href="/policy-and-documents-library/bath-shopfronts-guidelines-design-and-conservation">Bath shopfronts: design and conservation</a></li>
      <li><a href="/policy-and-documents-library/bath-city-wide-character-appraisal">Bath city-wide character appraisal</a></li>
      <li><a href="/policy-and-documents-library/character-appraisal-walcot-street-bath">Character appraisal of Walcot Street, Bath</a></li>
      <li><a href="/policy-and-documents-library/locally-listed-heritage-assets">Locally listed heritage assets</a></li>
      <li><a href="/policy-and-documents-library/setting-city-bath-world-heritage-site">The setting of the City of Bath</a></li>
      <li><a href="/policy-and-documents-library/streetscape-manual">Streetscape manual</a></li>
    </ul>
  </div>
  </div>
  
  <div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-2">Conservation Areas </span></h2>
  </div>
  
  <div aria-labelledby="accordion-default-heading-2" class="govuk-accordion__section-content" id="accordion-default-content-2">
    <ul class="govuk-list govuk-list--bullet"><li><a href="/node/738/">Conservation Areas and planning restrictions</a></li>
      <li><a href="/list-conservation-areas-and-their-character-appraisals">List of local Conservation Areas and their character appraisals</a></li>
      <li><a href="/policy-and-documents-library/bath-conservation-area-design-guide">Bath Conservation Area design guide</a></li>
    </ul>
  </div>
  </div>
  
  <div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-3">Green Belt and AONB </span></h2>
  </div>
  
  <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content" id="accordion-default-content-3">
    <ul class="govuk-list govuk-list--bullet"><li><a href="/policy-and-documents-library/informal-guidance-note-renewable-energy-green-belt-bath-north-east">Renewable energy in the Green Belt</a></li>
      <li><a href="/policy-and-documents-library/agricultural-building-design-guidelines-mendip-hills-aonb">Agricultural building design&nbsp;in the Mendips</a></li>
      <li><a href="/policy-and-documents-library/existing-dwellings-green-belt">Existing homes in the Green Belt</a></li>
      <li><a href="/policy-and-documents-library/horse-related-development-mendip-hills-aonb">Horse-related development&nbsp;in the Mendips</a></li>
      <li><a href="/policy-and-documents-library/rural-landscapes-character-assessment">Rural landscapes character assessment</a></li>
    </ul>
  </div>
  </div>
  
  <div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-4">Ecology and protected species </span></h2>
  </div>
  
  <div aria-labelledby="accordion-default-heading-4" class="govuk-accordion__section-content" id="accordion-default-content-4">
    <p class="govuk-body">If your proposed development is in an area with&nbsp;protected or priority species, or of Special Scientific Interest, you may have to get an expert report on&nbsp;the likely impact on local wildlife. For householders or small-scale developments, this map-based <a href="https://www.biodiversityinplanning.org/wildlife-assessment-check/">wildlife checking tool</a> will tell you if you should consult an expert before submitting a planning application.&nbsp;</p>

    <p class="govuk-body">For major developments, a formal <strong>Environment Impact Assessment</strong> is always necessary. You can find out how this process works on the <a href="https://www.gov.uk/guidance/environmental-impact-assessment">Gov.UK website</a>.&nbsp;</p>

    <p class="govuk-body">You can learn more about ecological assessment by visiting the <a href="https://www.biodiversityinplanning.org/about/what-is-an-ecological-assessment/">Biodiversity in Planning website</a>&nbsp;or viewing their video&nbsp;on the <a href="https://www.planningportal.co.uk/info/200187/your_responsibilities/39/other_considerations_before_you_start_work/6">Planning Portal</a>. For notes about local areas, see our page on <a href="/biodiversity-and-geological-conservation-assessment">Biodiversity and geological conservation</a>.&nbsp;</p>
  </div>
  </div>


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-5">Trees </span></h2>
    </div>
    
    <div aria-labelledby="accordion-default-heading-5" class="govuk-accordion__section-content" id="accordion-default-content-5">
      <p class="govuk-body">As a planning authority, we recognise the environmental and social value of trees. We are directly responsible for maintaining&nbsp;thousands&nbsp;of trees in the public parks and other land we take care of. We have statutory powers to protect the following groups of trees:</p>

<ul class="govuk-list govuk-list--bullet"><li class="govuk-body govuk-body-l">All trees&nbsp;within Conservation Areas</li>
	<li class="govuk-body govuk-body-l">Important trees and wooded areas throughout our district</li>
</ul><h2 class="govuk-heading-l">Tree Preservation Orders (TPOs)</h2>

<p class="govuk-body">We can protect everything from areas of woodland to&nbsp;single trees or&nbsp;hedgerow trees (but not hedges, bushes or shrubs) with a TPO. These are designed to protect mature trees which are an important part of the character of a place. Once the TPO is in force, it becomes&nbsp;an offence to cut down, top, lop, uproot, wilfully damage or&nbsp;destroy the&nbsp;tree without our permission. If you would like more detail on the full legislation around tree protection, you can find it on the <a href="https://www.gov.uk/guidance/tree-preservation-orders-and-trees-in-conservation-areas">GovUK website</a>.</p>

<p><a class="govuk-button" href="https://www.bathnes.gov.uk/webformstest/maps/" target="_blank">View Tree Preservation Orders on a map</a></p>

<h2 class="govuk-heading-l">Trees in a Conservation Area</h2>

<p class="govuk-body">If you live&nbsp;in a Conservation Area and you want to reduce, fell or do similar works to trees, you will need to notify us six weeks in advance of the planned work. If you would like more detail on the full legislation around trees in Conservation Areas, you can find it on the <a href="https://ecab.planningportal.co.uk/uploads/1app/guidance/guidance_note-works_to_trees.pdf">Planning Portal</a>&nbsp;and&nbsp;the <a href="https://www.gov.uk/guidance/tree-preservation-orders-and-trees-in-conservation-areas">GovUK website</a>.&nbsp;</p>

<div class="govuk-warning-text highlight"><span aria-hidden="true" class="govuk-warning-text__icon">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span> It is an offence to fail to notify us. We&nbsp;may prosecute you, instruct you to replace any trees you remove, and you could also have to pay a large fine. </strong></div>

<p><a class="govuk-button" href="https://www.planningportal.co.uk/info/200232/planning_applications/59/how_to_apply" target="_blank">Apply for works to&nbsp;trees in a Conservation Area</a></p>

<p class="govuk-body">If you want to check the applications and notifications for tree works in your area, you can find them on our Planning Register. Use the <strong>Advanced Search </strong>tool, and select <strong>Application Type</strong>; works to trees are at the bottom of the alphabetical list.&nbsp;&nbsp;</p>

<p><a class="govuk-button" href="https://www.bathnes.gov.uk/webformstest/Planning/" target="_blank">View tree notifications and planning applications online</a></p>

<h2 class="govuk-heading-l">Tree survey reports</h2>

<p class="govuk-body">If you are proposing a development which will affect trees on your or adjoining properties, you will need to submit an arboricultural report (a tree survey) with your planning application. This will indicate if you plan on removing or reducing any trees,&nbsp;and how you will protect&nbsp;those you plan to retain,&nbsp;during construction works.</p>

<p class="govuk-body">There is a statutory British Standard which states that the tree survey should be undertaken by a qualified arborist, and&nbsp;describes what it should include. If you are a tree care or development professional, you may want to order a copy of&nbsp;British Standard 5837: 2012 'Trees in relation to design, demolition and construction' from the <a href="https://shop.bsigroup.com/ProductDetail/?pid=000000000030213642">British Standards Institute</a>.</p>

<details class="govuk-details" data-module="govuk-details" role="group"><summary class="govuk-details__summary" role="button" aria-controls="details-content-51e084ea-65d0-4314-a70b-066aeb467bda" aria-expanded="false"><span class="govuk-details__summary-text"> A summary of the details to include </span> </summary><div class="govuk-details__text" id="details-content-51e084ea-65d0-4314-a70b-066aeb467bda" aria-hidden="true">
<h3 class="govuk-heading-m">An overview</h3>

<ul class="govuk-list govuk-list--bullet"><li class="govuk-body">Topographical survey showing the exact locations of trees</li>
	<li class="govuk-body">Reference number for each tree or group</li>
	<li class="govuk-body">List of species, by common name</li>
</ul><h3 class="govuk-heading-m">Dimensions for each tree</h3>

<ul class="govuk-list govuk-list--bullet"><li class="govuk-body">Height</li>
	<li class="govuk-body">Stem diameter</li>
	<li class="govuk-body">Branch spread</li>
	<li class="govuk-body">Height above ground level of the first branch or canopy</li>
</ul><h3 class="govuk-heading-m">The condition of each tree</h3>

<ul class="govuk-list govuk-list--bullet"><li class="govuk-body">The life stage, for example, young, semi-mature</li>
	<li class="govuk-body">General observations on the structural and physiological condition&nbsp;</li>
	<li class="govuk-body">A statutory grading of the removal or retention category&nbsp;</li>
	<li class="govuk-body">An estimate of remaining life, in years (&lt;10, 10+, 20+, 40+)</li>
</ul><h3 class="govuk-heading-m">Plans for each tree</h3>

<ul class="govuk-list govuk-list--bullet"><li class="govuk-body">Preliminary management recommendations</li>
	<li class="govuk-body">A Tree Constraints Plan</li>
	<li class="govuk-body">An Arboricultural Implication Assessment</li>
	<li class="govuk-body">A Tree Protection Plan</li>
	<li class="govuk-body">Arboricultural Method Statements where necessary</li>
</ul></div>
</details>
    </div>
    </div>

  </div>
  