{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact_animal_neglect_or_danger",
  name: "impact_animal_neglect_or_danger",
  fieldset: {
    legend: {
      text: "Animal neglect or danger (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Child’s needs are not met as so much chaos in home. Minimal impact require advice on pet care and risk re: health and safety but can be met through local support."
    },
    {
      value: "level3",
      text: "Animals have no boundaries on their behaviour, house smells and they are rarely exercised so have boundless energy and frustration which potentially puts children at risk."
    },
    {
      value: "level4",
      text: "Risk of disease and ill health from unhygienic practices. Children brought up to consider mistreatment of animals is normal. Children could be very distressed by the mistreatment which impacts on emotional health and well-being."
    },
    {
      value: "level5",
      text: "Child encouraged to participate in mistreatment, is teased for showing concern. Child showing signs of distress in behaviour and presentation."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}