{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact_safety_awareness",
  name: "impact_safety_awareness",
  fieldset: {
    legend: {
      text: "Adult Mental Health (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "The carer may be withdrawn, apathetic and emotionally unavailable to their children. They may have trouble recognising children's needs and responding to cues. The Child may result in low self- esteem/self-worth or appear anxious. Single agency to provide strategies to manage in partnership with appropriate services to provide support. "
    },
    {
      value: "level3",
      text: "Carers do not seek support routinely and or does not always take their medication so the child needs to take on tasks that the carer is not able to do. Child / young person is hyper- vigilant / or very controlling to compensate for the carers lack of capacity.  
      Carers may be withdrawn, apathetic and emotionally unavailable to their child. They may have trouble recognising children's needs and responding to cues."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}