{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
    <form action="/concerning-impacts" method="post" class="form">

      <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set legend = "Parental control and boundaries " + data['concerns-impacts-current-legend'] %}

      {{ govukRadios({
  idPrefix: "impact_parental_control_and_boundaries",
  name: "impact_parental_control_and_boundaries",
  fieldset: {
    legend: {
      text: legend,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Child feels insecure, loss self-worth, child distressed by inconsistent parenting response. Parenting courses provide education and support to parent more effectively and gain insight into behaviours at different stages of development."
    },
    {
      value: "level3",
      text: "Carers unable to be consistent in boundaries leading to frustration and at times disciplining inappropriately. Child responds to inconsistency with increasing levels of challenging behaviour."
    },
    {
      value: "level4",
      text: "Physical abuse can lead to both physical and emotional harm. As boundaries are inconsistent the impact for the child would be one of confusion"
    },
    {
      value: "level5",
      text: "Escalating levels of physical chastisement puts the child at significant risk of harm or disclosure by child leads to evidence of significant harm occurred."
    }
  ]
}) }}

      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}