{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "imapct-disability-and-illness",
  name: "imapct-disability-and-illness",
  fieldset: {
    legend: {
      text: "Disability and illness (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Support from single agency in caring for a child with a disability leads to better understanding and ability to pro-actively consider needs."
    },
    {
      value: "level3",
      text: "Carers own needs continue to come before those of the child. Unable to prioritise for a number of reasons."
    },
    {
      value: "level4",
      text: "Child’s emotional health impacted on negatively, feels they are in the way and unloved. Poor sense of self-worth leading to poor
      achievements."
    },
    {
      value: "level5",
      text: "Child with disability is not meeting expected outcomes, carers not co-operating with treatment plans, resulting in significant harm to the child."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}