{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
    <form action="/concerning-impacts" method="post" class="form">

      <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set legend = "Financial hardship " + data['concerns-impacts-current-legend'] %}

      {{ govukRadios({
  idPrefix: "impact_financial_hardship",
  name: "impact_financial_hardship",
  fieldset: {
    legend: {
      text: legend,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "The carer does not have the resources to provide to meet their family’s need so adults / children are occasionally left hungry as there is not enough money for food. The children cannot routinely take part in out of school activities."
    },
    {
      value: "level3",
      text: "The carer does not have the resources to provide to meet their family’s needs but the money they do have is not prioritised for the children who are often left hungry as there is not enough money for food / the house is cold there is no hot water, causing other issues e.g. child’s clothing continues to be unclean / the house is dirty."
    }
  ]
}) }}

      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}