{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
    <form action="/concerning-impacts" method="post" class="form">

      <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set legend = "Hygiene " + data['concerns-impacts-current-legend'] %}

      {{ govukRadios({
  idPrefix: "impact_hygiene",
  name: "impact_hygiene",
  fieldset: {
    legend: {
      text: legend,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Child is dirty and smelly, teeth are rotting and lead to loss of teeth and increased risk of disease."
    },
    {
      value: "level3",
      text: "Children are increasingly dishevelled, recurrent bouts of head lice and skin conditions. Teeth are rotting and refuse to attend the dentist, or make false claims about doing so."
    },
    {
      value: "level4",
      text: "Child bullied at school/college, self-worth and self –esteem impacted on impacted on negatively. Clothes and hair smell, dental decay."
    },
    {
      value: "level5",
      text: "Potential for new born baby to become seriously unwell.Child has to have significant numbers of teeth removed. Teased because no longer able to speak properly. Loses weight as unable to eat. Increasingly negative impact on emotional health leading to self-harm, risk of being groomed."
    }
  ]
}) }}

      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}