{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact-care-by-other-adults",
  name: "impact-care-by-other-adults",
  fieldset: {
    legend: {
      text: "Care by other adults (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Increased likelihood of harm to child. Raised awareness of the impact at developmental ages of care needs to ensure baby safe and needs are met."
    },
    {
      value: "level3",
      text: "Increased likelihood of harm to child. Raised awareness of the impact at developmental ages of care needs to ensure baby safe and needs are met."
    },
    {
      value: "level4",
      text: "Child is at risk of harm by others, may be at risk of physical or sexual
      harm. Child feels must accept situation as carer has left them with the person who is trusted by their carers."
    },
    {
      value: "level5",
      text: "Child discloses significant harm."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}