{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact_safety_awareness",
  name: "impact_safety_awareness",
  fieldset: {
    legend: {
      text: "Safety awareness (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Minor injuries and incidents continue support offered with safety equipment and noticed improvement of use."
    },
    {
      value: "level3",
      text: "Children at risk of hurting themselves as carers continue to put own needs first and do not provide the supervision necessary to keep children safe."
    },
    {
      value: "level4",
      text: "Child comes to harm frequently, multiple attendances at Emergency Department (ED) for minor injuries."
    },
    {
      value: "level5",
      text: "Injuries increasing severity and frequency. Carers not taking advice and at significant risk."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}