{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
    <form action="/concerning-impacts" method="post" class="form">

      <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set legend = "Child’s emotional wellbeing " + data['concerns-impacts-current-legend'] %}

      {{ govukRadios({
  idPrefix: "impact-childs-emotional-wellbeing",
  name: "impact-childs-emotional-wellbeing",
  fieldset: {
    legend: {
      text: legend,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Child is at risk of becoming involved in negative behaviour/ activities."
    },
    {
      value: "level3",
      text: "Child is involved in negative behaviour/activities, non-educational attendance, may be excluded at increased risk of grooming and exploitation."
    },
    {
      value: "level4",
      text: "Child is involved in negative behaviour/activities, is being encouraged by peers to engage in self-destructive anti-social or criminal behaviour."
    },
    {
      value: "level5",
      text: "Child’s development is being significantly impaired, there is evidence of exploitation by others and there is evidence of self-harm. Child may be permanently excluded from school/college."
    }
  ]
}) }}

      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}