{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact-safe-sleeping-arrangements",
  name: "impact-safe-sleeping-arrangements",
  fieldset: {
    legend: {
      text: "Safe sleeping arrangements (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Potential for cot death and for older children spreading diseases head lice and other contagious skin and respiratory conditions. Carers attend support groups and health education sessions facilitated by support agency. Results in improved consideration given to sleeping arrangements in the home."
    },
    {
      value: "level3",
      text: "Carers continue to smoke and consume alcohol whilst co-sleeping with baby. Baby observed to be overdressed and placed on front in cot and pram."
    },
    {
      value: "level4",
      text: "Baby becomes over heated or smothered by Carers but Carers still refuse to listen to advice."
    },
    {
      value: "level5",
      text: "Baby has sleep apnoea, frequent admissions to hospital. Carers refuse to listen to advice and sleeping arrangements remain the same."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}