{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact-responding-to-adolescents",
  name: "impact-responding-to-adolescents",
  fieldset: {
    legend: {
      text: "Responding to adolescents (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Adolescent misunderstood resulting in range of inappropriate."
    },
    {
      value: "level3",
      text: "Adolescents increasingly involved in risky behaviour, missing on occasions, staying out late and disrespectful to carers."
    },
    {
      value: "level4",
      text: "Adolescent at risk of Child Sexual Exploitation and Child Criminal Exploitation as they manage the challenges of puberty. Adolescent becomes confused as responses to them are inconsistent."
    },
    {
      value: "level5",
      text: "Adolescent at risk of Child Sexual Exploitation and Child Criminal Exploitation and puts self at significant harm in attempt to find identity and sense of self-worth. Additional risk of self-harm in a variety of forms e.g. substance misuse, self-harm and anorexia nervosa."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}