{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

    <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>
    <form action="/concerning-impacts" method="post" class="form">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
  idPrefix: "impact_food",
  name: "impact_food",
  fieldset: {
    legend: {
      text: "Food (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Potential for malnourishment and ill health as consistency of diet not maintained."
    },
    {
      value: "level3",
      text: "Carer continues to be inconsistent in preparation of meals, child’s
      weight not maintained or growing concerns for obesity. Specialist diets not maintained and so impacting on health"
    },
    {
      value: "level4",
      text: "Child loses weight, unable to concentrate at school/college, clothes are increasingly ill-fitting. Health affected by inappropriate diet"
    },
    {
      value: "level5",
      text: "Child requires acute intensive care and clear that the child has suffered significant harm and is at risk of further harm"
    }
  ]
}) }}


      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}