{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
    <form action="/concerning-impacts" method="post" class="form">

      <h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set legend = "Physical abuse " + data['concerns-impacts-current-legend'] %}

      {{ govukRadios({
  idPrefix: "imapct-physical-abuse",
  name: "imapct-physical-abuse",
  fieldset: {
    legend: {
      text: legend,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Fearful of parents, noticed to have animal / insect bites, aggressive
      behaviour at school/college/play school"
    },
    {
      value: "level3",
      text: "Fearful of parents, repeated disclosures by child with no evidence appears to mirror adult behaviour in the playground. Injuries as a result of being exposed to harmful substances."
    },
    {
      value: "level4",
      text: "Child or young person exhibits angry behaviour, peer to peer abuse or sibling abuse. Child or young person fearful, self-harm, expressing suicidal ideation."
    },
    {
      value: "level5",
      text: "Child or young person exhibits angry behaviour, peer to peer abuse or sibling abuse. Child or young person fearful, self- harm, expressing suicidal ideation and or taking overdoses, drinking excessively, substance misuse, injuries from drug paraphernalia; increasingly withdrawn, or extreme behaviours."
    }
  ]
}) }}

      <button class=" govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}