{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-xl">What impact do you feel this is currently having on the child or young person?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "impact_childs_clothing",
  name: "impact_childs_clothing",
  fieldset: {
    legend: {
      text: "Child’s clothing (1 of 3 concerns you identified)",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Pick the impact you think this is having on the child:"
  },
  items: [
    {
      value: "level2",
      text: "Child feels awkward and is teased, clothes are uncomfortable impacts on emotional health."
    },
    {
      value: "level3",
      text: "In spite of additional support child’s clothing continues to be unclean and ill-fitting, leading to bullying and distress."
    },
    {
      value: "level4",
      text: "Child is bullied at school/ college, clothes smelly and dirty child gets more illnesses due to inappropriate clothes for weather, Impact on child’s self-esteem and self-worth."
    },
    {
      value: "level5",
      text: "Child starts to avoid school/ college, becomes withdrawn. Withdraws from previous interests. Increasing disharmony at home all signs of significant impact on child. May be groomed as response to wanting to fit in."
    }
  ]
}) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "#",
  isStartButton: false
}) }}


  </div>
</div>

{% endblock %}