
{% extends "layout_unbranded.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	{% from "govuk/components/table/macro.njk" import govukTable %}

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Children young people and families",
      href: "#"
    },
    {
      text: "Are you concerned about a child or young person"
    }
  ]
}) }}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-6">Contact us with a concern about a child or young person</h1>
<p class="govuk-body">This form is for anyone who has a concern about a child or young person.</p>

<p class="govuk-body">By filling in this form you’ll be helping us decide what kind of support is most appropriate for the child, young person or family.</p>

<div class="breakout-box govuk-!-margin-bottom-6 govuk-!-margin-top-6">

  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
  {{ govukWarningText({
    text: "If a child or young person is in immediate danger then please dial 999 and ask for police assistance..",
    iconFallbackText: "Warning"
  }) }}
  

</div>



<h2 class="govuk-heading-l govuk-!-margin-top-6">Before you start</h2>

<p class="govuk-body">Make sure that the child is living in Bath and North East Somerset. You can do this by <a href ='https://www.gov.uk/find-local-council'>finding their local council</a>.</p>

<p class="govuk-body">To complete your referral make sure you have:</p> 

<ul class="govuk-list govuk-list--bullet">
  <li>the name, date of birth and address for each child you are including in the referral</li>
  
  <li> the name and contact details for each parent or carer
  </li>
  <li>information about what support has been offered to the family
  </li>
</ul>

<p class='govuk-body'>With this information to hand your referral should take about X minutes to complete in total.</p>

<p class='govuk-body'>To report a concern about a child who already has a social worker, you should contact the social worker or unit involved.</p>

<p class='govuk-body'>For more information about our thresholds for assessment, please refer to the <a href="https://www.safeguarding-bathnes.org.uk/sites/default/files/threshold_for_assessment_.pdf">Threshold for Assessment document.</a></p>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "your_relationship.html",
  classes: "govuk-!-margin-top-6",
  isStartButton: true
}) }}
      
    </div>
</div>

{% endblock %}
