{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}

    {% from "govuk/components/table/macro.njk" import govukTable %}


    <h1 class="govuk-heading-xl">Based on your concerns, we will now ask you to fill out a Safeguarding Request</h1>
    <p class="govuk-body">All your previous answers will be saved. We will ask you for more detail about your concerns
      and pass these onto the Childcare Duty Team who will aim to reply within 48 hours.
    </p>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
  idPrefix: "outcome-1",
  name: "outcome-1",
  fieldset: {
    legend: {
      text: "Have you informed the family?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Have you informed the family that you are making this request for service and that we will complete welfare checks with other agencies?"
  },
  items: [
    {
      value: "yes",
      text: "Yes, I have consent from the family",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "By selecting this you are also confirming you have informed the family that we will complete welfare checks with other agencies and have their consent to pass details onto our Early Help team if necessary."
      }
    },
    {
      value: "no",
      text: "No, I have not got consent from the family",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "You can only proceed without informing the parents or carers if it would put the child at risk of harm."
      }
    }
  ]
}) }}

    <div class="govuk-inset-text govuk-visually-hidden">
      <div class="govuk-form-group">
        <label class="govuk-label" for="reason-no-consent">
          Please state why?
        </label>
        <textarea class="govuk-textarea" id="reason-no-consent" name="reason-no-consent" rows="5"></textarea>
      </div>
    </div>




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Continue",
  href: "rfs",
  isStartButton: false
}) }}

  </div>
</div>

{% endblock %}