{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript: window.history.go(-1)"
          }) }}

    {% from "govuk/components/table/macro.njk" import govukTable %}

    <h1 class="govuk-heading-xl">Here are some suggested next steps, based on what you've told us.
    </h1>

    <p class="govuk-body">Based on what you have told us, we do not think this meets the threshold for complex
      multi-agency Early Help Services or safeguarding intervention.</p>

    <p class="govuk-body">You should be able to support this child or family's additional needs by signposting them to a
      single agency.</p>

    <h3 class="govuk-heading-m">Consider refering the family to:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Agency 1 www.######</li>
      <li>Agency 2 www.######</li>
    </ul>

    <h3 class="govuk-heading-m">Useful resources:</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Early Help App www.######</li>
      <li>Rainbow Resource www.######</li>
      <li>1Bigdatabase www.######</li>
    </ul>

    <h3 class="govuk-heading-m">Complete an Early Help Assessment</h3>

    <p class="govuk-body">Consider using the EHA as a way to identify needs and plan a response, either single agency
      or with the support of another agency. Details of which can be found via the Early Help App. </p>

    <p class="govuk-body">You may consider contacting your safeguarding lead within your agency for further support and
      guidance at this level.</p>
    <div class="breakout-box">

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
            text: "If there are any further incidents regarding this child and you want our help, please contact us.",
            iconFallbackText: "Warning"
          }) }}


    </div>
  </div>
</div>

{% endblock %}