
{% extends "layout_unbranded.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">Report your concerns about a child or young person as a member of the public.</h1>


<p class="govuk-body">If you are concerned about the well being of a child contact the Children & Families Duty and Assessment Team on 01225 123456</p>

<p class="govuk-body">When our offices are closed call the Emergency Duty Team on 01454 615 165</p>

<p class="govuk-body">If the child is at immediate risk call the Police on 999.</p>

<p class='govuk-body'>If you're unable to use a phone, tell us your preferred communication method.</p>

<p class="govuk-body">Other numbers you can call:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>NSPCC 24 hour Helpline: 0800 800 5000 (free from a landline)</li>
  <li>NSPCC Asian Languages Helpline: 0808 800 5000 (free from a landline)</li>
  <li>NSPCC Text helpline: 88858 (service is free and anonymous)</li>
  <li>Police: 101 (non-emergency calls)</li>
</ul>

    </div>
</div>

{% endblock %}
