{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>

    <form action="/type-of-harm" method="post" class="form">


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="significant-harm-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What sort of significant harm is this child at risk of?
          </h1>
        </legend>

        <span id="significant-harm-hint" class="govuk-hint">
          Select all that apply
        </span>

        <div class="govuk-checkboxes">

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-1" name="harm" type="checkbox"
              value="emotional_abuse" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-1">
              Emotional abuse
            </label>

            <span id="significant-harm-1-hint" class="govuk-hint govuk-checkboxes__hint">
              The persistent emotional maltreatment of a child such as to cause severe and persistent adverse effects on
              the child’s emotional development.
            </span>

          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-2" name="harm" type="checkbox"
              value="physical_abuse" aria-describedby="significant-harm-hint-2">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-2">
              Physical abuse
            </label>

            <span id="significant-harm-2-hint" class="govuk-hint govuk-checkboxes__hint">
                A form of abuse which may involve hitting, shaking, throwing, poisoning, burning or scalding, drowning, suffocating or otherwise causing physical harm to a child.
            </span>

          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-3" name="harm" type="checkbox"
              value="sexual_abuse" aria-describedby="significant-harm-3-hint">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-3">
              Sexual abuse
            </label>

            <span id="significant-harm-3-hint" class="govuk-hint govuk-checkboxes__hint">
                Involves forcing or enticing a child or young person to take part in sexual activities, not necessarily involving a high level of violence, whether or not the child is aware of what is happening.
            </span>

          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-4" name="harm" type="checkbox"
              value="serious_neglect" aria-describedby="significant-harm-4-hint">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-4">
              Serious neglect
            </label>

            <span id="significant-harm-4-hint" class="govuk-hint govuk-checkboxes__hint">
                The persistent failure to meet a child’s basic physical and/or psychological needs, likely to result in the serious impairment of the child’s health or development.
            </span>

          </div>







          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-5" name="harm" type="checkbox"
              value="child_exploitation" aria-describedby="nationality-5-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-5">
              Child exploitation
            </label>

            <span id="significant-harm-5-hint" class="govuk-hint govuk-checkboxes__hint">
                A form of child sexual abuse. It occurs where an individual or group takes advantage of an imbalance of power to coerce, manipulate or deceive a child or young person under the age of 18 into sexual activity
            </span>

          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-6" name="harm" type="checkbox"
              value="radicalisation" aria-describedby="significant-harm-6-hint">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-6">
              Radicalisation
            </label>

            <span id="significant-harm-6-hint" class="govuk-hint govuk-checkboxes__hint">
                Radicalisation is defined as the process by which people come to support terrorism and extremism and, in some cases, to then participate in terrorist groups
            </span>

          </div>

          <div class="govuk-radios__divider">or</div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="significant-harm-7" name="none" type="checkbox" value="none">
            <label class="govuk-label govuk-checkboxes__label" for="significant-harm-7">
              None of the above, it's something else
            </label>

          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>

  </form>

  </div>
</div>

{% endblock %}