{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

    <a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "waste",
      name: "waste",
      fieldset: {
        legend: {
          text: "Which types of waste do you transport?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "carcasses",
          text: "Waste from animal carcasses"
        },
        {
          value: "mines",
          text: "Waste from mines or quarries"
        },
        {
          value: "farm",
          text: "Farm or agricultural waste"
        }
      ]
    }) }}

<a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>



  </div>
</div>

{% endblock %}