{% extends "layout_unbranded.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}

    <form action="/your_address" method="post" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="child-known-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Your contact details
            </h1>
          </legend>
          <span id="child-known-hint" class="govuk-hint">
            <!-- This includes changing your last name or spelling your name differently. -->
          </span>
          <div class="govuk-form-group">
            <label class="govuk-label" for="full-name">
              Full name
            </label>
            <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name"
              spellcheck="false">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <span id="email-hint" class="govuk-hint">
              <!-- We’ll only use this to send you a receipt -->
            </span>
            <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint"
              autocomplete="email" spellcheck="false">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="telephone">
              Telephone
            </label>
            <input class="govuk-input" id="telephone" name="telephone" type="text" autocomplete="name"
              spellcheck="false">
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}